@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#brand-initial { 
  color: #2F4052;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 18px;
}

.section-text { 
  color: #34495E;
  padding-top: 20px;
}

.sticky{
  text-align: center;
  color: black;
  font-size: 16px;
  margin-top: 330px;

}

.wrap{
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: auto;
}

button{
  width: 30px;
  border: none;
  background: transparent;
  color: black;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
  
  &:hover{
    opacity: 1;
  }
}

.scroller{
  flex: 1;
  overflow: hidden;
}

.projects{
  list-style-type: none;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;

  transition: transform 1s ease-in-out;
}

.project{
  padding: 20px 20px;
  display: inline-block;
  width: 100%;
  height: 450px;
  color: white;
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 1;
  font-weight: bold;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  
  &:nth-child(2) {
    color: #fff;
  }
}

.portfolio-section { 
  width: 100%;
  height: 580px;
}

.skills-section { 
  background-color: #F2F5F4;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.skills-icon { 
  height: 210px;
  display: block;
  
}

#personal-footer { 
  background-color: #2F4052;
}

.contact-icon { 
  width: 85px;
  height: 85px; 
  background-color: white;
  border-radius: 50%;
}

#personal-banner { 
  height: 460px;
}

.coding-banner { 
  opacity: 0.9;
  height: 430px;
}

#connected-content { 
  height: 390px;
}

#contact-section { 
  margin-top: 70px;
}

.connect { 
  cursor: pointer;
}

.nd-wrap {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
.nd-wrap img {
  width: 200px;
  display: block;
}
.nd-title {
  position: relative;   
  top: -150px;
  opacity: 0;
  margin: 0 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-transition: all 1s ease 0.01s;
      transition: all 1s ease 0.01s;
}
.nd-title span {
  color: #fff;  
  font-size: 32px;
  font-weight: bold;
  padding: 0 20px 15px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}

.nd-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
}
.nd-content_inner {
  display: table;
  width: 100%;
  height: 100%;
}
.nd-content_inner1 {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
/* =============== HOVER AREA =============== */
.nd-wrap:hover .nd-icon,
.nd-wrap:hover .nd-content,
.nd-wrap:hover .nd-title {
  opacity: 1;
  top: 0;
}
.nd-wrap:hover .nd-title {
  -webkit-transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
      transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
}
.nd-wrap:hover .nd-content {
  background: rgba(0, 0, 0, 0.5);
}

/* ============================== HOVER STYLE ============================== */

.nd-wrap.nd-style:hover .nd-title {
  -webkit-transition: all 0.5s ease 0.01s;
      transition: all 0.5s ease 0.01s;
}
.nd-style .nd-icon {
  top: 150px;
  -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
}
