@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

#brand-initial { 
  color: #2F4052;
  margin-left: 5px;
}

.button-collapse {
  color: #2F4052;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.link-text { 
  color: #2F4052;
}

.section-text { 
  color: #34495E;
  line-height: 1em;
  padding-bottom: 10px;
  padding-top: 40px;
}

.sticky{
  text-align: center;
  color: black;
  font-size: 16px;
  margin-top: 330px;

}

.profile-picture {
  margin-bottom: 40px;
}

.wrap{
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: auto;
}

button{
  width: 30px;
  border: none;
  background: transparent;
  color: black;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
  
  &:hover{
    opacity: 1;
  }
}

.scroller{
  flex: 1;
  overflow: hidden;
}

.projects{
  list-style-type: none;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  transition: transform 1s ease-in-out;
}

.project{
  padding: 20px 20px;
  display: inline-block;
  width: 100%;
  height: 450px;
  color: white;
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 1;
  font-weight: bold;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  
  &:nth-child(2) {
    color: #fff;
  }
}

.portfolio-section { 
  width: 100%;
  height: 600px;
  background-color: #F2F5F4;
}

.skills-section { 
  width: 100%;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-icon { 
  height: 210px;
  display: block;
}

#personal-footer { 
  background-color: #2F4052;
}

.header-name { 
  margin-top: 200px;
}

.profile-picture { 
  width: 190px;
  height: 190px;
  border-radius: 50%;
}

.contact-icon { 
  width: 100px;
  height: 100px; 
  margin-top: 40px;
}

#personal-banner { 
  height: 600px;
}

.coding-banner { 
  opacity: 0.8;
  height: 430px;
}

.connected-content { 
  height: 320px;
  width: 100%;
}

#contact-section { 
  margin-top: 180px;
}

.connect-text { 
  margin-top: 50px;
}

.connect { 
  cursor: pointer;
}

.nd-wrap {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.nd-wrap img {
  width: 200px;
  display: block;
}

.nd-title {
  position: relative;   
  top: -150px;
  opacity: 0;
  margin: 0 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-transition: all 1s ease 0.01s;
      transition: all 1s ease 0.01s;
}

.nd-title span {
  color: #fff;  
  font-size: 32px;
  font-weight: bold;
  padding: 0 20px 15px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}

.nd-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
}

.nd-content_inner {
  display: table;
  width: 100%;
  height: 100%;
}

.nd-content_inner1 {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* =============== HOVER AREA =============== */
.nd-wrap:hover .nd-icon,
.nd-wrap:hover .nd-content,
.nd-wrap:hover .nd-title {
  opacity: 1;
  top: 0;
}

.nd-wrap:hover .nd-title {
  -webkit-transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
      transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
}

.nd-wrap:hover .nd-content {
  background: rgba(0, 0, 0, 0.5);
}

/* ============================== HOVER STYLE ============================== */

.nd-wrap.nd-style:hover .nd-title {
  -webkit-transition: all 0.5s ease 0.01s;
      transition: all 0.5s ease 0.01s;
}
.nd-style .nd-icon {
  top: 150px;
  -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
}

.resume-icon { 
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#main-content { 
  margin-top: 30px;
}

.download-resume { 
  margin-bottom: 20px;
  margin-top: 30px;
}

#resume-banner { 
  height: 300px;
}

.custom-navbar {
  background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 50px;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
}

.custom-navbar.opaque {
  background-color: black;
  height: 50px;
  transition: background-color .5s ease 0s;
}

div.profile-image { 
  list-style-type: none;
  margin:0;
  padding:0;
  text-align:center; 
}

.profile-image {
  width:190px;
  height:190px;
  border-radius: 50%;
  position:relative;
  display:inline-block;
}

.profile-image div:hover span.text-content {
  opacity:1;
}

span.text-content {
  position:absolute;
  top:0;
  left:0;
  padding-top: 80px;
  background:rgba(0,0,0,0.5);
  color:white;cursor:pointer;
  width:190px;
  height:190px;
  border-radius: 50%;
  opacity:0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}


