#brand-initial { 
  color: #2F4052;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 18px;
}

.section-text { 
  color: #34495E;
  padding-top: 20px;
}

.sticky{
  text-align: center;
  color: black;
  font-size: 16px;
  margin-top: 330px;

}

.wrap{
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: auto;
}

button{
  width: 30px;
  border: none;
  background: transparent;
  color: black;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
  
  &:hover{
    opacity: 1;
  }
}

.scroller{
  flex: 1;
  overflow: hidden;
}

.projects{
  list-style-type: none;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;

  transition: transform 1s ease-in-out;
}

.project{
  padding: 20px 20px;
  display: inline-block;
  width: 100%;
  height: 450px;
  color: white;
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 1;
  font-weight: bold;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  
  &:nth-child(2) {
    color: #fff;
  }
}

.portfolio-section { 
  width: 100%;
  height: 580px;
}

.skills-icon { 
  width: 180px;
  height: 180px;
}

.skills-section { 
  background-color: #F2F5F4;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

#personal-footer { 
  background-color: #2F4052;
}

.contact-icon { 
  width: 85px;
  height: 85px; 
  background-color: white;
    border-radius: 50%;
}

#personal-banner { 
  height: 460px;
}

.coding-banner { 
  opacity: 0.9;
  height: 430px;
}

#connected-content { 
  height: 390px;
}

#contact-section { 
  margin-top: 70px;

}